   <button class="visible" id="chat-button" onclick="openChatbot()">SCM Chat</button>
    <div id="herman-container">
        <div id="loadImg"><div><img src="https://cdn.glitch.com/461d2de9-dd31-4384-b491-dbc702e93a7b%2FYearlyGrippingAmericanredsquirrel-size_restricted.gif?1531330646237" /></div></div>
        <iframe id="herman" class="herman-frame" border="0" name="iframe"  src="https://herman-client.glitch.me" scrolling="no" noresize frameborder="0" onload="document.getElementById('loadImg').style.display='none';"></iframe>
        <button type="button" id="close" onclick="closeChatbot()">Schließen</button>
    </div>
    
<script language="javascript" type="text/javascript">
    function openChatbot() {
        document.getElementById('chat-button').classList.remove('visible');
        document.getElementById('close').style.visibility = 'visible';   
        var frame = document.getElementById('herman-container');
        frame.classList.add('active');   
    }  
    
    function closeChatbot() {
       var frame = document.getElementById('herman-container');
        frame.classList.remove('active'); 
        document.getElementById('chat-button').classList.add('visible');
        document.getElementById('close').style.visibility = 'hidden'; 
    }  
</script>
    
